@import "~assets/scss/variables";
@import "~assets/scss/fonts";
@import "~assets/scss/breakpoints";

.box-points {
    width: 100%;
    height: 78px;
    border-radius: 13px;
    box-shadow: 0 1px 6px 0 rgba(66, 81, 123, 0.16);
    background-color: #ffffff;

    &.active {
        box-shadow: none;
        background-color: rgba(245, 245, 245, 0.75);
    }

    > div {
        min-height: 75%;
        padding-left: 10px;

        @include min-width-576 {
            padding-left: 18px;
            min-width: 75px;
        }
    }

    strong {
        font-size: $ft-30;
        color: $yellow;
    }

    p {
        font-size: $ft-15;
        @include min-width-768 {
            font-size: $ft-20;
        }
        line-height: 1;
    }
}

.modal-button {
    max-width: 331px;
    height: 53px;
    padding: 18px 26px 17px 36.3px;
    overflow: hidden;
    transition: height 0.5s ease;

    &.shadow {
        border-radius: 27px;
        box-shadow: 0 1px 6px 0 rgba(66, 81, 123, 0.16) !important;

        img.picker {
            transform: rotate(0);
        }
    }

    &.show {
        height: auto;
    }

    img.picker {
        transform: rotate(180deg);
    }

    @include min-width-768 {
        max-width: 100%;
        width: 100%;
    }

    .rewards {
        margin-top: 17px;
        border-radius: 13px;
        overflow: hidden;
        padding: 10px 15px;
        box-shadow: 0 1px 6px 0 rgba(66, 81, 123, 0.16);

        .icon img {
            width: 75px;
            height: 75px;
        }
    }
}

.box-card {
    border-radius: 13px;
    box-shadow: 0 1px 6px 0 rgba(66, 81, 123, 0.16);

    .box {
        .icons {
            width: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &:nth-child(even) {
            background-color: rgba(245, 245, 245, 0.46);
        }

        .content {
            line-height: 1.2;
        }
    }
}
