<div class="form-general px-md-4" [formGroup]="form">
    <div class="d-flex align-items-start">
        <img class="back mr-3 cursor-pointer"
             src="./assets/images/svg/arrow_right.svg" alt=""
             (click)="onBack.emit()">
        <div class="lh-1">
            <h3 class="font-helvetica-bold pl-md-0 ft-20">
                Cambiar contraseña
            </h3>
            <span class="ft-15 color-title">
                Ingresa tu nueva contraseña, debe tener 6 caracteres alfanuméricos
            </span>
        </div>
    </div>

    <div class="row px-4 px-sm-5 mt-5">
        <div class="col-12">
            <div class="form-group md-input">
                <app-control-messages [control]="form.get('password')" [customMessages]="{pattern: ' '}">
                    <input [type]="isTextFieldType ? 'text' : 'password'" class="form-control" id="password" formControlName="password" placeholder=" " autocomplete="false">
                    <label for="password" class="">Contraseña actual</label>
                    <a (click)="isTextFieldType = !isTextFieldType" class="icon-eye cursor-pointer">
                        <img
                            [src]="isTextFieldType ? './assets/images/svg/eye.svg' : './assets/images/svg/eye-closed.svg'"
                            alt="">
                    </a>
                </app-control-messages>
            </div>
        </div>

        <div class="col-12">
            <div class="form-group md-input">
                <app-control-messages [control]="form.get('new_password')" [customMessages]="{pattern: ' '}">
                    <input [type]="isTextFieldType2 ? 'text' : 'password'" class="form-control" id="new_password" formControlName="new_password" placeholder=" " autocomplete="false">
                    <label for="new_password" class="">Nueva contraseña</label>
                    <a (click)="isTextFieldType2 = !isTextFieldType2" class="icon-eye cursor-pointer">
                        <img
                            [src]="isTextFieldType2 ? './assets/images/svg/eye.svg' : './assets/images/svg/eye-closed.svg'"
                            alt="">
                    </a>
                </app-control-messages>
            </div>
        </div>

        <div class="col-12">
            <div class="form-group md-input">
                <app-control-messages [control]="form.get('password_confirmation')" [customMessages]="{pattern: ' '}">
                    <input [type]="isTextFieldType3 ? 'text' : 'password'" class="form-control" id="password_confirmation" formControlName="password_confirmation" placeholder=" " autocomplete="false">
                    <label for="password_confirmation" class="">Confirmar contraseña</label>
                    <a (click)="isTextFieldType3 = !isTextFieldType3" class="icon-eye cursor-pointer">
                        <img
                            [src]="isTextFieldType3 ? './assets/images/svg/eye.svg' : './assets/images/svg/eye-closed.svg'"
                            alt="">
                    </a>
                </app-control-messages>
            </div>
        </div>

        <div class="col-12 color-gray pl-0 my-2 lh-1" *ngIf="form.get('new_password')?.hasError('pattern'); else notEquals">
            <small class="form-control-feedback">La contraseña debe tener al menos 6 caracteres entre letras, números y una mayúscula</small>
        </div>

        <ng-template #notEquals>
            <div class="col-12 color-gray pl-0 my-2" *ngIf="form.getError('notEquals') || form.get('new_password')?.value !== form.get('password_confirmation')?.value">
                <small class="form-control-feedback">Las contraseñas no coinciden</small>
            </div>
        </ng-template>

        <div class="col-12 px-5 mt-5">
            <button class="btn btn-primary btn-block">Modificar</button>
        </div>
    </div>
</div>
