@import "~assets/scss/variables.scss";
//RADIO
.form-check input[type="radio"] {
    display: none;
}

.form-check input[type="radio"] + label span {
    background: url("~assets/images/svg/checkbox.svg") left top no-repeat;
}


.form-check input[type="radio"] + label span {
    display: inline-block;
    width: 40px;
    height: 30px;
    @include min-width-768 {
        width: 30px;
        height: 30px;
    }
    padding: 10px;
    margin: 0 4px 0 0;
    vertical-align: middle;
    cursor: pointer;
    text-align: left;
}

.form-check input[type="radio"]:checked + label span {
    background: url("~assets/images/svg/check-red.svg") left no-repeat;
}

.form-check.invoice input[type="radio"] + label span {
    width: auto !important;
    height: auto !important;
}

.form-check.invoice input[type="radio"] + label span,
.form-check.invoice input[type="radio"]:checked + label span {
    background-size: 20px;
}

.form-check input[type="radio"]:checked {
    label {
        background: red !important;
    }
}


//CHECKBOX
.form-check input[type="checkbox"] {
    display: none;
}

.form-check-common input[type="checkbox"] + label span {
    background: url("~assets/images/svg/checkbox.svg") left top no-repeat;
}

.form-check input[type="checkbox"] + label span {
    display: inline-block;
    width: 40px;
    height: 30px;
    @include min-width-768 {
        width: 30px;
        height: 30px;
    }
    padding: 10px;
    margin: 0 4px 0 0;
    vertical-align: middle;
    cursor: pointer;
    text-align: left;
}

.form-check-common input[type="checkbox"]:checked + label span {
    background: url("~assets/images/svg/check-red.svg") left no-repeat;
}

.form-check-common input[type="checkbox"]:checked {
    label {
        background: red !important;
    }
}
