
.custom-control {
    &.custom-radio {
        .custom-control-input:checked ~ .custom-control-label::after {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='-4 -4 8 8'%3e%3ccircle r='4' fill='%23d9000d'/%3e%3c/svg%3e");
        }

        .custom-control-input:checked ~ .custom-control-label::before {
            border-color: #adb5bd;
            background-color: #ffffff;
        }

        &.credit-card {
            .custom-control-input:checked ~ .custom-control-label::after {
                width: 1.5rem;
                height: 1.5rem;
            }

            .custom-control-input:checked ~ .custom-control-label::before {
                width: 1.5rem;
                height: 1.5rem;
            }

            .custom-control-label::after {
                width: 1.5rem;
                height: 1.5rem;
                top: 0;
            }

            .custom-control-label::before {
                width: 1.5rem;
                height: 1.5rem;
                top: 0;
            }
        }
    }
}
