$primary: #d9000d;
$secondary: #ffd400;
$primary-dark: #b70610;

$blue: #3656a2;
$lightblue: #00a2f9;
$lightgray: #f5f5f5;

$white: #fff;
$yellow: #ffd400;
$black: #30302f;
$gray: #727272;
$color-title: #161615;

.color-title {
    color: $color-title;
}

.color-title {
    color: $color-title;
}

.color-yellow {
    color: $yellow;
}

.color-gray {
    color: $gray;
}

.color-black {
    color: $black;
}
