<div class="d-flex justify-content-between align-items-center">
    <app-promo-codes type="choco" *ngIf="isLoggedIn"></app-promo-codes>
    <div class="filter d-flex align-items-center cursor-pointer">
        <img class="mr-1 img-fluid" src="./assets/images/svg/filter_red.svg" alt="">
        <span class="font-helvetica-bold color-title ft-12" (click)="showFilters()">Filtrar</span>
    </div>
</div>

<div class="d-none" [class.d-block]="candyFilter === 'combos'">
    <div class="products pt-4 pl-1">
        <app-candy-card *ngFor="let combo of filteredCombos; trackBy:trackCombos"
                        (updated)="updatedProduct(combo)"
                        [headquarter_id]="buyTicket.selectedOption?.cinema"
                        [product]="combo"
                        [isLoggedIn]="isLoggedIn">
        </app-candy-card>
    </div>
</div>

<div class="d-none" [class.d-block]="candyFilter === 'products'">
    <div class="products pt-4 pl-1">
        <app-candy-card *ngFor="let product of filteredProducts; trackBy:trackProducts"
                        (updated)="updatedProduct(product)"
                        [headquarter_id]="buyTicket.selectedOption?.cinema"
                        [product]="product"
                        [isLoggedIn]="isLoggedIn">
        </app-candy-card>
    </div>
</div>

<div class="d-none" [class.d-block]="candyFilter === 'promos'">
    <div class="products pt-4 pl-1">
        <app-candy-card *ngFor="let product of filteredPromos; trackBy:trackPromos"
                        (updated)="updatedProduct(product)"
                        [headquarter_id]="buyTicket.selectedOption?.cinema"
                        [product]="product"
                        [isLoggedIn]="isLoggedIn">
        </app-candy-card>
    </div>
</div>

<div *ngIf="isLoggedIn" class="d-none" [class.d-block]="candyFilter === 'favoritos'">
    <div class="products pt-4 pl-1">
        <app-candy-card *ngFor="let product of favorites; trackBy:trackFavorites"
                        (updated)="updatedProduct(product)"
                        [headquarter_id]="buyTicket.selectedOption?.cinema"
                        [product]="product"
                        [isLoggedIn]="isLoggedIn">
        </app-candy-card>
    </div>
</div>

<div class="candy-filters bg-white p-4 position-fixed w-100 d-flex flex-column" [class.active]="showCandyFilters">
    <div class="d-flex justify-content-end">
        <img class="cursor-pointer" src="./assets/images/svg/close_black.svg" alt="" (click)="closeCandyFilters()">
    </div>
    <p class="ft-20 text-primary font-helvetica-bold mb-2">Filtrar Chocolatería</p>

    <div class="options d-flex align-items-center flex-wrap">
        <span class="ft-15 color-gray cursor-pointer font-helvetica-medium"
              [class.active]="tab === 'combos'" (click)="tab = 'combos'">
            Combos
        </span>

        <span class="ft-15 color-gray cursor-pointer font-helvetica-medium"
              [class.active]="tab === 'products'" (click)="tab = 'products'">
            Productos
        </span>

        <span class="ft-15 color-gray cursor-pointer font-helvetica-medium"
              [class.active]="tab === 'promos'" (click)="tab = 'promos'">
            Promociones
        </span>

        <span *ngIf="isLoggedIn" class="ft-15 color-gray cursor-pointer font-helvetica-medium"
              [class.active]="tab === 'favoritos'" (click)="tab = 'favoritos'">
            Favoritos
        </span>
    </div>

    <div class="product-types mt-3" [class.active]="tab === 'products'">
        <perfect-scrollbar class="filters-scroll">
            <div class="custom-control custom-radio mx-3" *ngFor="let product of productTypes">
                <input type="radio"
                       [(ngModel)]="_product_type_id"
                       [value]="product.id" [id]="'products-' + product.id"
                       name="_product_type_id" class="custom-control-input">
                <label class="custom-control-label" [for]="'products-' + product.id">
                    {{product.name}}
                </label>
            </div>
        </perfect-scrollbar>
    </div>

    <div class="combo-types mt-3" [class.active]="tab === 'combos'">
        <perfect-scrollbar class="filters-scroll">
            <div class="custom-control custom-radio mx-3" *ngFor="let combo of comboTypes">
                <input type="radio"
                       [(ngModel)]="_combo_type_id"
                       [value]="combo.id" [id]="'combo-' + combo.id"
                       name="_combo_type_id" class="custom-control-input">
                <label class="custom-control-label" [for]="'combo-' + combo.id">
                    {{combo.name}}
                </label>
            </div>
        </perfect-scrollbar>
    </div>

    <div class="combo-types mt-3" [class.active]="tab === 'promos'">
        <perfect-scrollbar class="filters-scroll">
            <div class="custom-control custom-radio mx-3" *ngFor="let promo of promoTypes">
                <input type="radio"
                       [(ngModel)]="_promo_type_id"
                       [value]="promo.id" [id]="'promo-' + promo.id"
                       name="_promo_type_id" class="custom-control-input">
                <label class="custom-control-label" [for]="'promo-' + promo.id">
                    {{promo.name}}
                </label>
            </div>
        </perfect-scrollbar>
    </div>

    <div class="d-flex justify-content-center mt-4">
        <button class="btn btn-primary px-5" (click)="filter()">
            Aplicar Filtros
        </button>
    </div>
</div>
