
.modal-body {
    margin:20px; 
    text-align: center;
}

.items {
    .item {
        border-bottom: solid 1px rgba(112, 112, 112, 0.15);

        &:last-child {
            border-bottom: none;
        }

        .img {
            height: 85px;
            width: 140px;

            img {
                height: 100%;
            }
        }

        .description {
            width: 200px;
        }
    }
}

::ng-deep {
    perfect-scrollbar.purchase-confirmation-scroll {
        .ps-content {
            max-height: 30vh;
        }

    }
}

