<div class="content-restore-password form-general">
    <div *ngIf="error" class="message position-absolute w-100 d-flex justify-content-center align-items-center font-helvetica-medium ft-15 text-center"
         [class.has-error]="error">
        <span class="color-title">{{error}}</span>
    </div>
    <button class="btn btn-close p-0 position-absolute" (click)="bsModalRef.hide()">
        <img src="./assets/images/svg/icon-close-modal.svg" alt="close-modal">
    </button>
    <div class="section-title">
        <h1 class="color-title">Restablecer contraseña</h1>
    </div>
    <p class="mb-4 text-new-password color-gray">Ingresa tu nueva contraseña, debe contener <br>
        6 caracteres alfanuméricos</p>
    <div class="container-fluid" [formGroup]="form">
        <div class="row">
            <div class="col-md-12 pl-md-4 pr-md-4">
                <div class="form-group md-input">
                    <app-control-messages [control]="form.get('password')" [customMessages]="{pattern: ' '}">
                        <input [type]="isTextFieldType ? 'text' : 'password'" class="form-control" id="password" formControlName="password" placeholder=" " autocomplete="false">
                        <label for="password" class="">Nueva Contraseña</label>
                        <a (click)="isTextFieldType = !isTextFieldType" class="icon-eye cursor-pointer">
                            <img
                                [src]="isTextFieldType ? './assets/images/svg/eye.svg' : './assets/images/svg/eye-closed.svg'"
                                alt="">
                        </a>
                    </app-control-messages>
                </div>
            </div>
            <div class="col-md-12 pl-md-4 pr-md-4">
                <div class="form-group md-input">
                    <app-control-messages [control]="form.get('password_confirmation')" [customMessages]="{pattern: ' '}">
                        <input [type]="isTextFieldType2 ? 'text' : 'password'" class="form-control" id="password_confirmation" formControlName="password_confirmation" placeholder=" " autocomplete="false">
                        <label for="password_confirmation" class="">Repetir Contraseña</label>
                        <a (click)="isTextFieldType2 = !isTextFieldType2" class="icon-eye cursor-pointer">
                            <img
                                [src]="isTextFieldType2 ? './assets/images/svg/eye.svg' : './assets/images/svg/eye-closed.svg'"
                                alt="">
                        </a>
                    </app-control-messages>
                </div>
            </div>

            <div class="col-12 color-gray pl-0 my-2 lh-1" *ngIf="form.get('password')?.hasError('pattern'); else notEquals">
                <small class="form-control-feedback">La contraseña debe tener al menos 6 caracteres entre letras, números y una mayúscula</small>
            </div>

            <ng-template #notEquals>
                <div class="col-12 color-gray pl-0 my-2" *ngIf="form.getError('notEquals') || form.get('password')?.value !== form.get('password_confirmation')?.value">
                    <small class="form-control-feedback">Las contraseñas no coinciden</small>
                </div>
            </ng-template>

            <div class="col-md-12 text-center ">
                <button class="btn btn-primary ft-18 mt-4" [disabled]="isLoading" (click)="changePassword()">
                      <span class="bouncingLoader" *ngIf="isLoading">
                                <span></span>
                            </span>
                    <span *ngIf="!isLoading">Restablecer</span>
                </button>
            </div>
        </div>
    </div>
</div>
