@import "~assets/scss/variables";

.content-restore-password {
    padding: 60px 34px 30px;

    .btn-close {
        right: 20px;
        top: 20px;
    }

    .icon-eye {
        position: absolute;
        top: 15px;
        right: 15px;
    }

    .text-new-password {
        line-height: 1.2;
    }

    .btn-primary {
        width: 200px;
        height: 50px;
        border-radius: 25px;
    }
}

.message {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    top: 0;
    left: 0;
    height: 40px;
    z-index: 99999;
    transition: all 1s;
    background-color: $secondary;

    span {
        line-height: 1;
    }

    &.has-error {
        background-color: $primary;

        span {
            color: #ffffff;
        }
    }
}
