<div class="content-recover form-general">
    <div *ngIf="message || error" class="message position-absolute w-100 d-flex justify-content-center align-items-center font-helvetica-medium ft-15 text-center"
         [class.show]="message" [class.has-error]="error">
        <span class="color-title">{{message || error}}</span>
    </div>
    <button class="btn btn-close p-0 position-absolute" (click)="bsModalRef.hide()">
        <img src="./assets/images/svg/icon-close-modal.svg" alt="close-modal">
    </button>
    <div class="section-title">
        <h1 class="color-title">Recuperar Contraseña</h1>
    </div>
    <p class="mb-4 color-gray">Enviaremos un correo con instrucciones <br>
        para restablecer tu contraseña</p>
    <div class="container-fluid" [formGroup]="form">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group md-input">
                    <app-control-messages [control]="form.get('email')" [customMessages]="{email: 'Ingresa un correo electrónico válido'}">
                        <input type="email" class="form-control" id="email" placeholder=" " formControlName="email" autocomplete="false">
                        <label for="email" class="">Correo Electrónico</label>
                    </app-control-messages>
                </div>
            </div>
            <div class="col-md-12 text-center mt-2">
                <!--<a class="d-block text-center text-decoration-underline text-uppercase font-helvetica-bold cursor-pointer" (click)="recoverPassword('reload')">
                    <span> {{isLoading2 ? 'Enviando ...' : 'Volver a enviar'}}</span>
                </a>-->
                <span class="text-success" *ngIf="sent && !isLoading">Si tienes una cuenta activa, te llegará un enlace para restablecer tu contraseña</span>
                <button class="btn btn-primary mt-5" [disabled]="isLoading" (click)="recoverPassword()">
                      <span class="bouncingLoader" *ngIf="isLoading">
                                <span></span>
                            </span>
                    <span *ngIf="!isLoading">{{sent ? 'Volver a enviar' : 'Enviar'}}</span>
                </button>
                <p class="ft-15 color-title font-helvetica-medium mt-5 ft-18">¿Ya tienes cuenta? <a (click)="onClickLogin()" class="ft-15 cursor-pointer font-helvetica-bold">Inicia Sesión</a></p>

            </div>
        </div>
    </div>
</div>
