<!-- Anuncios -->
<div class="container-fluid py-2">
<!--    <google-adsense [data]="6420109861"></google-adsense>-->
<!--    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>-->
    <!-- Anuncios -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-1121528612473878"
         data-ad-slot="6420109861"
         data-ad-format="auto"
         data-full-width-responsive="true"></ins>
<!--    <script>-->
<!--        (adsbygoogle = window.adsbygoogle || []).push({});-->
<!--    </script>-->
</div>

