<div class="credit-cards">
    <div class="credit-card-container d-flex flex-column" *ngFor="let card of $cards | async; trackBy: trackByFn">
        <div class="d-flex align-items-center">
            <div *ngIf="showRadios" class="custom-control custom-radio credit-card mx-3">
                <input type="radio"
                       (change)="onSelect(card)"
                       [value]="card.token" [id]="'card-' + card.token"
                       name="credit_card" class="custom-control-input">
                <label class="custom-control-label" [for]="'card-' + card.token">
                </label>
            </div>

            <img class="card-icon img-fluid mr-4"
                 [class.ml-3]="!showRadios"
                 src="./assets/images/svg/{{card.icon}}" alt="">

            <div class="d-flex flex-column color-title ft-15 flex-grow-1 lh-1">
                <div class="card-number">{{card.masked_number}}</div>
                <div class="card-holder">{{card.full_name}}</div>
            </div>

            <img *ngIf="!card.delete" (click)="card.delete = true" class="delete img-fluid cursor-pointer"
                 src="./assets/images/svg/close_black.svg" alt="eliminar" title="Eliminar tarjeta">
        </div>

        <div *ngIf="card.delete" class="d-flex flex-column align-items-center justify-content-center mt-3">
            <span class="d-block color-title ft-14 mb-1">¿Seguro que desea eliminar la tarjeta?</span>
            <div class="d-flex justify-content-center">
                <button class="btn btn-primary mr-1" (click)="delete(card.token)" [disabled]="isLoading">Aceptar</button>
                <button class="btn btn-outline-primary mr-1" (click)="card.delete = false" [disabled]="isLoading">Cancelar</button>
            </div>
        </div>
    </div>
</div>
