<div class="d-flex justify-content-between">
    <label class="select font-helvetica-bold ft-12 color-title">
        Selecciona tus butacas
    </label>

    <div class="d-none d-xl-flex justify-content-center align-items-center">
        <div class="available ft-10 d-flex align-items-center mr-2">
            <span class="mr-1"></span>
            Disponible
        </div>

        <div class="bg-4x ft-10 d-flex align-items-center mr-2">
            <span class="mr-1"></span>
            4X
        </div>

        <div class="bg-4x ft-10 d-flex align-items-center mr-2">
            <span class="mr-1" style="background-color: #804000"></span>
            VIP
        </div>

        <div class="busy ft-10 d-flex align-items-center mr-2">
            <span class="bg-secondary mr-1"></span>
            Ocupado
        </div>

        <div class="selected ft-10 d-flex align-items-center">
            <span class="bg-primary mr-1"></span>
            Seleccionado
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <app-room></app-room>
    </div>
</div>

<div class="mt-3 d-flex d-xl-none justify-content-center align-items-center">
    <div class="available ft-10 d-flex align-items-center mr-2">
        <span class="mr-1"></span>
        Disponible
    </div>

    <div class="bg-4x ft-10 d-flex align-items-center mr-2">
        <span class="mr-1"></span>
        4X
    </div>

    <div class="bg-4x ft-10 d-flex align-items-center mr-2">
        <span class="mr-1" style="background-color: #804000"></span>
        VIP
    </div>

    <div class="busy ft-10 d-flex align-items-center mr-2">
        <span class="bg-secondary mr-1"></span>
        Ocupado
    </div>

    <div class="selected ft-10 d-flex align-items-center">
        <span class="bg-primary mr-1"></span>
        Seleccionado
    </div>
</div>
