form {
    max-width: 350px;
}

.card-icon {
    height: 45px;
    width: 72px;
    display: flex;
    justify-content: center;
    align-items: center;

    &.active {
        border-radius: 8px;
        box-shadow: 0 3px 10px 0 rgba(63, 106, 145, 0.17);
    }

    img {
        width: 45px;
    }
}

.btn {
    min-width: 132px;
}
