@import "~assets/scss/variables";

.top {
    box-shadow: 0 3px 6px 0 rgba(35, 88, 149, 0.16);
    padding: 120px 20px 5px;

    h3 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .info {
        line-height: 1;
    }
}

.container-fluid {
    margin-top: 30px;
}

.candy-filters {
    left: 0;
    bottom: -100px;
    box-shadow: 0 -3px 6px 0 rgba(0, 0, 0, 0.16);
    transition: all .5s;
    max-height: 0;
    overflow: hidden;
    z-index: 1;

    &.active {
        bottom: 0;
        max-height: 70vh;
    }

    .options {
        span {
            border: solid 1px #d5d5d5;
            border-radius: 14px;
            padding: 3px 10px;
            margin-bottom: 5px;
            margin-right: 15px;

            &.active {
                background-color: $secondary;
                border-color: $secondary;
                color: $color-title;
                font-weight: bold;
            }
        }
    }
}


.bottom {
    z-index: 1;
    background: white;
    width: 100%;
    box-shadow: 0 -2px 6px 0 rgba(137, 154, 201, 0.16);
    padding: 8px 20px;

    .btn {
        height: 40px;
    }
}
