<div class="d-flex ">
    <div *ngIf="message" class="message position-absolute w-100 d-flex justify-content-center align-items-center font-helvetica-medium ft-15 text-center">
        <span class="color-title">¡Contraseña restablecida satisfactoriamente!</span>
    </div>
    <button class="btn btn-close p-0 position-absolute" (click)="bsModalRef.hide()">
        <img src="./assets/images/svg/icon-close-modal.svg" alt="close-modal">
    </button>
    <div class="banner-login background-style d-none d-md-block"></div>
    <div class="content-side-right form-general">
        <div class="section-title mb-3">
            <h1>Iniciar Sesión</h1>
        </div>
        <form class="container-fluid" [formGroup]="form">
            <div class="row">
                <div class="col-md-12 p-md-0">
                    <div class="form-group md-input">
                        <app-control-messages [control]="form.get('username')">
                            <input formControlName="username" type="text" class="form-control font-helvetica" id="documentnumber"
                                   placeholder="Número de Documento*" autocomplete="false" alphaNumeric alphaNumericType="an" maxlength="12">
                            <label for="documentnumber" class="">Número de Documento*</label>
                        </app-control-messages>
                    </div>
                </div>
                <div class="col-md-12 p-md-0">
                    <div class="form-group md-input">
                        <app-control-messages [control]="form.get('password')">
                            <input formControlName="password" [type]="isTextFieldType ? 'text' : 'password'" class="form-control font-helvetica" id="password" placeholder=" " autocomplete="false">
                            <label for="password" class="">Contraseña*</label>
                            <a (click)="isTextFieldType = !isTextFieldType" class="icon-eye position-absolute cursor-pointer">
                                <img
                                    [src]="isTextFieldType ? './assets/images/svg/eye.svg' : './assets/images/svg/eye-closed.svg'"
                                    alt="">
                            </a>
                        </app-control-messages>
                    </div>
                </div>

                <div class="col-12 text-danger my-2 mt-3 lh-1" *ngIf="error">
                    {{error}}
                </div>

                <div class="col-md-12 text-center mt-2">
                    <button type="submit" class="btn btn-primary ft-18" [disabled]="isLoading" (click)="login()">
                        <span class="bouncingLoader" *ngIf="isLoading">
                                <span></span>
                            </span>
                        <span *ngIf="!isLoading">Ingresar</span>
                    </button>
                    <a (click)="onClickRecoverPassword()" class="d-block mt-4 text-center ft-15 text-forget-password text-decoration-underline font-helvetica-medium cursor-pointer">¿Olvidaste tu contraseña?</a>
                    <p class="color-title ft-15 font-helvetica-medium mt-5 ">¿Aún no tienes cuenta? <a (click)="onClickRegister()" class="font-helvetica-bold cursor-pointer">Regístrate</a></p>

                </div>
            </div>
        </form>
    </div>
</div>
