@import "~assets/scss/variables";
@import "~assets/scss/breakpoints";

.banner-login {
    background: url('~assets/images/img-login.png');
    width: 333px;
    //height: 465px;
}

.icon-eye {
    top: 15px;
    right: 15px;
}

.content-side-right {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 60px;

    @include min-width-768 {
        width: 388px;
        padding-left: 54px;
        padding-right: 54px;
    }

}

.btn-primary {
    width: 200px;
    height: 50px;
    border-radius: 25px;
}

.btn-close {
    right: 20px;
    top: 20px;
}

.form-control {
    &::placeholder {
        font-family: 'HelveticaNeue', sans-serif;
        color: #989898;
    }
}

.message {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    top: 0;
    left: 0;
    height: 40px;
    z-index: 99999;
    transition: all 1s;
    background-color: $secondary;

    span {
        line-height: 1;
    }

    &.has-error {
        background-color: $primary;

        span {
            color: #ffffff;
        }
    }
}
