<div class="container-fluid">

    <div class="section-title">
        <h1>Cartelera</h1>
        <a routerLink="peliculas">VER TODA</a>

    </div>

    <div class="d-flex justify-content-center align-items-center flex-column"
         *ngIf="!movies.length" style="height: 150px">
        <ng-container *ngIf="isLoading">
            Cargando...
            <span class="bouncingLoader">
                <span></span>
            </span>
        </ng-container>
        <ng-container *ngIf="!isLoading">
            No hay películas disponibles
        </ng-container>
    </div>

    <div class="movies-container" id="movies-container" *ngIf="movies.length">
        <ng-container *ngIf="movies.length > 10">
            <app-movie-card *ngFor="let movie of movies; let i = index" [movie]="movie" [featured]="i === 0" [class.featured]="i === 0"></app-movie-card>
        </ng-container>

        <ng-container *ngIf="movies.length <= 10">
            <app-movie-card *ngFor="let movie of movies; let i = index" [movie]="movie"></app-movie-card>
        </ng-container>
    </div>
</div>
